syntax: glob
.svn
*.pdb
*.csproj.user
*.suo
bin\*
obj\*
*.log
*.pfx
AssetManagement/Backup/*
AssetManagement/_UpgradeReport_Files/*
AssetManagement/AssetSite/App_Data/*
AssetManagement/UpgradeLog.XML
PublishProfiles
*.rpt
*.ttx
StockScannerInstaller
packages
TestResults
*.testsettings
*.Publish.xml
*.testsettings
*.vsdmi
AssetManagement/AssetManagement2.vsmdi
Bin/*
AssetManagement/DXItem.cs
*.bak
*.BAK
AssetManagement/Performance*
AssetManagement/*.vsp
*.backup
AssetManagement/AssetSite/web.config.profile.*
*.orig
AssetManagement/AssetSite/uploads/*
AssetManagement/node_modules/*
AssetManagement/AssetSite/Scripts/node_modules
*.rej
AssetManagement/*.vsps
AssetManagement/WebEssentials-Settings.json
AssetManagement/*.psess
AssetManagement/AssetSite/Content/*
*.user
AssetManagement/AssetManager.WebApi/uploads/*
AssetManagement/AssetManager.WebApi/App_Data/uploads/*
AssetManagement/AssetManager.WebApi/App_Data/cache/*
AssetManagement/.vs/*
syntax: regexp
crystalreportviewers
connectionStrings.config
