SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[_cust_GetChildAssets]
	@assetTypeId bigint
AS
 SELECT 
	  dynconf.DynEntityConfigUid
	 ,dynconf.DynEntityConfigId 
	 ,dynconf.Name as AssetTypeName
	 ,dynatr.DynEntityAttribConfigUid
	 ,dynatr.DynEntityAttribConfigId
	 ,dynatr.Name as AttributeName
 FROM DynEntityAttribConfig dynatr
 INNER JOIN DynEntityConfig dynconf 
 ON dynatr.DynEntityConfigUid=dynconf.DynEntityConfigUid
 WHERE 
	 dynatr.RelatedAssetTypeID=@assetTypeId and
	 dynatr.ActiveVersion=1 and 
	 dynatr.IsShownOnPanel=1 and	  
	 dynconf.Active=1 and
	 dynatr.DataTypeUid in
	 (
		SELECT DataTypeUid FROM DataType WHERE Name in ('asset', 'assets')
	 )
 ORDER BY dynconf.Name
 GO