@model AppFramework.Email.Models.RecoverPasswordEmailModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        html {
            height: 100%;
            margin: 0px;
            padding: 10px;
            width: 100%;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            margin: 0px;
            padding: 0px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h2>@Model.Header</h2>
    <p>
        Your credentials are:<br/>
        Username: @Model.Username<br/>
        Password: @Model.Password<br/>
    </p>
    <p class="footer">
        Yours sincerely,<br/>
        Asset Manager<br/>
        &copy;@DateTime.Now.Year
    </p>
</body>
</html>