<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching,              Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
  <connectionStrings>
    <clear />
    <add name="DataEntities" connectionString="metadata=res://AppFramework.DataLayer/DataModel.csdl|res://AppFramework.DataLayer/DataModel.ssdl|res://AppFramework.DataLayer/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.172.0.80;Initial Catalog=sobenbub;Integrated Security=False;User ID=sobenbub;password=sobenbub;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<system.web>
		<membership defaultProvider="DynEntityMembershipProvider" userIsOnlineTimeWindow="20">
			<providers>
				<clear />
				<add name="DynEntityMembershipProvider" type="AppFramework.Core.AC.Providers.DynEntityMembershipProvider, AppFramework.Core" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" applicationName="AssetManagement" />
			</providers>
		</membership>
	</system.web>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="100" maximumElementsInCacheBeforeScavenging="100"
				numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Cache Manager" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
</configuration>