<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>