<appSettings>
  <add key="SiteName" value="ACV AssetManagement"/>
  <add key="SiteLogo" value="images/companylogo.gif"/>

  <add key="CultureName" value="nl-NL"/>
  <add key="RecordsPerPage" value="10"/>
  <!-- Key determine - will on taxonomy editing be created new revision of taxonomy and updated all asset types and assets -->

  <add key="PredefinedATPath" value="~/Config.Files/Predefined/ATFrame.xml" />
  <add key="PredefinedAssetsPath" value="~/Config.Files/Predefined/Assets/" />
  <add key="ExtraAttributesPath" value="~/Config.Files/Predefined/ExtraAttrubutes/" />
  <add key="SQLCommandsPath" value="~/Config.Files/commands.sql" />

  <add key="UploadOnImportPath" value="~/App_Data/" />
  <add key="AssetsSchemaPath" value= "~/Config.Files/Predefined/schema.xsd"/>

  <add key="EntityConfigKeywordsRank" value="10000"/>
  <add key="KeywordsRank" value="100000"/>
  <add key="NameRank" value="1000000"/>
  <add key="AllAttrib2IndexValuesRank" value="10"/>
  <add key="AllContextAttribValuesRank" value="100"/>
  <add key="DocumentDirectory" value="AM_Document"/>

  <add key="TempPath" value="~/App_Data"/>
  <add key="DocumentsPath" value="~/Documents/"/>
  <add key="AssetTemplatePath" value="~/App_Data/Asset_Templates/"/>
  <add key="BarcodeLength" value="7" />

  <add key="ControlsWidth" value="200px" />

  <add key="mailFromAddress" value="no-reply@assetmanager.com" />
  <add key="mailFromName" value="Asset Manager" />
  <add key="contactFormRecipients" value="support@anubissoftware.com" />
  <add key="UploadFolder" value="uploads" />
  <add key="IsNetworkUploadFolder" value="false" />

  <add key="ActiveDirectoryUserFieldsPath" value="~/Config.Files/Predefined/ActiveDirectoryUserFields.xml"/>

  <add key="ApplicationType" value="Combined"/>
  <!-- AssetManager, SOBnBUB, Combined -->
  <add key="UseFullTextSearch" value="false" />

  <add key="CommandTimeout" value="240"/>
  <add key="SOBPaymentImportFolder" value="C:\temp\Payments"/>
  <add key="SOBPaymentImportHistoryFolder" value="C:\temp\Payments\History"/>

  <add key="ReportTemplatesUploadDir" value="~/App_Data/uploads/report_templates" />

</appSettings>
