<unity>
    <typeAliases>
        <typeAlias alias="IAuthenticationStorageProvider" type="AppFramework.Core.AC.Providers.IAuthenticationStorageProvider, AppFramework.Core" />
        <typeAlias alias="IBarcodeProvider" type="AppFramework.Core.Classes.Barcode.IBarcodeProvider, AppFramework.Core" />
        <typeAlias alias="IDataProvider" type="AppFramework.DataProxy.Providers.IDataProvider, AppFramework.DataProxy" />
        <typeAlias alias="IBatchAction" type="AppFramework.Core.Classes.Batch.IBatchAction, AppFramework.Core" />
    </typeAliases>
    <containers>
        <container>
            <types>
                <type type="IAuthenticationStorageProvider"
                   mapTo="AppFramework.Core.AC.Providers.SessionAuthenticationStorageProvider, AppFramework.Core" />
            </types>
        </container>
    </containers>
</unity>