<AppFramework.UnhandledExceptionHandling AppName="AssetManagement" ContactInfo="Anubis Software (http://www.anubissoftware.com)" EmailFrom="info@anubissoftware.com" EmailTo="support@anubissoftware.com">
  <Logging LogToEventLog="true" LogToFile="false" LogToEmail="true" LogToUI="true" PathLogFile=""/>
  <IgnoreErrors IgnoreRegEx="" IgnoreDebug="false"/>
  <Messages PageHeader="AssetManagement Website encoutered an unexpected problem." PageTitle="AssetManagement | Unexpected problem." WhatHappenedTitle="What Happened" WhatHappenedBody="There was an unexpected error in the website. Our support team is informed about this problem." HowUserIsAffectedTitle="How this will affect you" HowUserIsAffectedBody="The current page cannot be loaded." WhatUserCanDoTitle="What you can do about it" WhatUserCanDoBody="Please close your browser and navigate back to the SocialEye website. Try repeating your last action." SubjectMail="AssetManagement | Unhandled ASP Exception notification"/>
</AppFramework.UnhandledExceptionHandling>