<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="AppFramework.DynamicEntity.Data" type="AppFramework.DynamicEntity.Data.Bases.NetTiersServiceSection, AppFramework.DynamicEntity.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
        <section name="AppFramework.DynamicEntity.Configuration" type="AppFramework.DynamicEntity.Configuration.ConfigHandler"/>
        <section name="AppFramework.UnhandledExceptionHandling" type="AppFramework.CustomException.CustomExConfigHandler"/>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        </sectionGroup>
    </configSections>
    <connectionStrings configSource="cnn.config"></connectionStrings>
    <AppFramework.DynamicEntity.Data defaultProvider="SqlNetTiersProvider">
        <providers>
            <clear/>
            <add name="SqlNetTiersProvider" type="AppFramework.DynamicEntity.Data.SqlClient.SqlNetTiersProvider, AppFramework.DynamicEntity.Data.SqlClient" connectionStringName="netTiersConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="AppFramework.DynamicEntity.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true"/>
        </providers>
    </AppFramework.DynamicEntity.Data>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
