<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="AppFramework.DynamicEntity.Data" type="AppFramework.DynamicEntity.Data.Bases.NetTiersServiceSection, AppFramework.DynamicEntity.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </configSections>
    <connectionStrings>
        <add name="netTiersConnectionString" connectionString="Data Source=DBA;Initial Catalog=CommonAssetManagement;User ID=AmDeveloper;Password=am1481;Connect Timeout=30;" />
        <add name="CustomResourceProvidersConnectionString" connectionString="Data Source=DBA;Initial Catalog=CommonAssetManagement;User ID=AmDeveloper;Password=am1481; Connect Timeout=30;" />
    </connectionStrings>
    <AppFramework.DynamicEntity.Data defaultProvider="SqlNetTiersProvider">
        <providers>
            <clear />
            <add
                name="SqlNetTiersProvider"
                type="AppFramework.DynamicEntity.Data.SqlClient.SqlNetTiersProvider, AppFramework.DynamicEntity.Data.SqlClient"
                connectionStringName="netTiersConnectionString"
                providerInvariantName="System.Data.SqlClient"
                entityFactoryType="AppFramework.DynamicEntity.Entities.EntityFactory"
                useEntityFactory="true"
                enableEntityTracking="true"
                enableMethodAuthorization="false"
                useStoredProcedure="true"  />
        </providers>
    </AppFramework.DynamicEntity.Data>
    <system.web>
        <membership defaultProvider="DynEntityMembershipProvider" userIsOnlineTimeWindow="20">
            <providers>
                <clear />
                <add name="DynEntityMembershipProvider"
                    type="AppFramework.Core.AC.Providers.DynEntityMembershipProvider, AppFramework.Core"
                    enablePasswordRetrieval="false"
                    enablePasswordReset="true"
                    requiresQuestionAndAnswer="true"
                    passwordFormat="Hashed"
                    applicationName="AssetManagement" />
            </providers>
        </membership>
        <machineKey validationKey="5DA4C0A097ED5592A877A3F951A8FEF6B48958C1A89DA5D408DC8D4BBA330D1B5297C5075202199516A064CE3B0D3A1EF9F2D1BA82300B4BDC1F8203723B8D3F" decryptionKey="3D2D21E191C220E27E0D211B116819A9575A40741EAB20A7" validation="SHA1" />
    </system.web>
</configuration>