
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FMIS API</title>
</head>
<body>
    <div>
        <h1>FMIS API Backend</h1>
        @Html.RouteLink("API Definition",
            new { area = "HelpPage", controller = "Help", action = "Index" })
    </div>
</body>

</html>
