@model AssetManager.Auth.Models.RecoverPasswordPageModel
@{
    Layout = "~/Views/RecoverPassword/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(Model.Error)) // error message
{
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="alert alert-danger">
                <strong>@Model.Error</strong>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="forgot_password" method="post">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Enter your username in the box bellow</label>
                            <input required="" name="username" autofocus="" id="username" type="text" class="form-control " placeholder="Username" maxlength="100">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary">Recover</button>
                            @if (!string.IsNullOrEmpty(Model.LinkToLogin))
                            {
                                <a href="@Model.LinkToLogin" class="btn btn-link">Back to login</a>
                            }
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>