@{
    Layout = "~/Views/RecoverPassword/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-success">
            Check your mailbox for new credentials.
        </div>
    </div>
</div>