<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling,               Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging,               Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="AppFramework.UnhandledExceptionHandling" type="AppFramework.CustomException.CustomExConfigHandler"/>
	</configSections>
	<appSettings>
		<add key="SiteName" value="ACV AssetManagement"/>
		<add key="SiteLogo" value="images/companylogo.gif"/>

		<add key="CultureName" value="nl-NL"/>
		<add key="RecordsPerPage" value="10"/>
		<!-- Key determine - will on taxonomy editing be created new revision of taxonomy and updated all asset types and assets -->

		<add key="BatchDefaultScheduleTime" value="11:25" />

		<add key="PredefinedATPath" value="~/Config.Files/Predefined/ATFrame.xml" />
		<add key="PredefinedAssetsPath" value="~/Config.Files/Predefined/Assets/" />
		<add key="ExtraAttributesPath" value="~/Config.Files/Predefined/ExtraAttrubutes/" />
		<add key="SQLCommandsPath" value="~/Config.Files/commands.sql" />

		<add key="UploadOnImportPath" value="~/App_Data/" />
		<add key="AssetsSchemaPath" value= "~/Config.Files/Predefined/schema.xsd"/>

		<add key="EntityConfigKeywordsRank" value="10000"/>
		<add key="KeywordsRank" value="100000"/>
		<add key="NameRank" value="1000000"/>
		<add key="AllAttrib2IndexValuesRank" value="10"/>
		<add key="AllContextAttribValuesRank" value="100"/>
		<add key="DocumentDirectory" value="AM_Document"/>

		<add key="TempPath" value="~/App_Data"/>
		<add key="DocumentsPath" value="~/Documents/"/>
		<add key="AssetTemplatePath" value="~/App_Data/Asset_Templates/"/>
		<add key="BarcodeLength" value="7" />

		<add key="SetupVersion" value="1.2.1.19" />
		<add key="ControlsWidth" value="200px" />

		<add key="HoursBetweenSearchBatch" value="24" />
		<add key="HoursBetweenDynEntityIndexRebuild" value="48" />

		<add key="mailFromAddress" value="no-reply@assetmanager.com" />
		<add key="mailFromName" value="Asset Manager" />
		<add key="contactFormRecipients" value="ilya.bolkhovsky@gmail.com" />
		<add key="UploadFolder" value="uploads" />
		<add key="SmtpServer" value="mail.lviv.ua"/>
		<add key="SmtpUser" value=""/>
		<add key="SmtpPwd" value=""/>
		<add key="SmtpPort" value=""/>
		<add key="SmtpAllow" value="true"/>

		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />

		<add key="ActiveDirectoryUserFieldsPath" value="~/Config.Files/Predefined/ActiveDirectoryUserFields.xml"/>

		<add key="ApplicationType" value="Combined"/>
		<!-- AssetManager, SOBnBUB, Combined -->
		<add key="UseFullTextSearch" value="false" />

	</appSettings>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="ServiceLayerExceptionPolicy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  postHandlingAction="NotifyRethrow" name="Exception">
						<exceptionHandlers>
							<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
							  formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							  priority="0" useDefaultLogger="false" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
							  name="Logging Handler" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<connectionStrings>
		<clear />
		<add name="DataEntities" connectionString="metadata=res://AppFramework.DataLayer/DataModel.csdl|res://AppFramework.DataLayer/DataModel.ssdl|res://AppFramework.DataLayer/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=assetmanager;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="100" maximumElementsInCacheBeforeScavenging="100"
				numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Cache Manager" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
	  defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add fileName="App_Data\Logs\AssetManagement-trace.log"
			  header="----------------------------------------"
			  footer="----------------------------------------" formatter="Text Formatter"
			  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="FlatFile TraceListener" />
			<add source="Enterprise Library Logging" formatter="Text Formatter"
			  log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Formatted EventLog TraceListener" />
			<add fileName="App_Data\Logs\AssetManagement-log.xml" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="XML Trace Listener" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
			  type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="FlatFile TraceListener" />
					<add name="XML Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="XML Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<system.web>
		<membership defaultProvider="DynEntityMembershipProvider" userIsOnlineTimeWindow="20">
			<providers>
				<clear/>
				<add name="DynEntityMembershipProvider" type="AppFramework.Core.AC.Providers.DynEntityMembershipProvider, AppFramework.Core" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" applicationName="AssetManagement"/>
			</providers>
		</membership>
		<roleManager defaultProvider="DynEntityRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add name="DynEntityRoleProvider" type="AppFramework.Core.AC.Providers.DynEntityRoleProvider" connectionStringName="DataEntities" applicationName="AssetManagement"/>
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
